<h1><%= @recipe.title %></h1>

<h2>Ingredients:</h2>
    <p><%= @recipe.ingredients %></p>

<h2>Instructions:</h2>
    <p><%= @recipe.instructions %></p>

<ul>
    <li><%= link_to "Edit", edit_recipe_path(@recipe) %></li>
    <li><%= link_to "Home", root_path %>
    <li><%= link_to "Delete", recipe_path(@recipe), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?" 
                    } %></li>
</ul>

<h2>Comments</h2>
<%= render @recipe.comments %>  

<h2>Add a comment:</h2>
<%= render 'comments/form' %>