<h1><%= @recipe.title %></h1>

<h2>Ingredients:</h2>
    <p><%= @recipe.ingredients %></p>

<h2>Instructions:</h2>
    <p><%= @recipe.instructions %></p>

<ul>
    <li><%= link_to "Edit", edit_recipe_path(@recipe) %></li>
    <li><%= link_to "Home", root_path %>
    <li><%= link_to "Delete", recipe_path(@recipe), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?" 
                    } %></li>
</ul>

<h2>Comments</h2>
<% @recipe.comments.each do |comment| %>
    <p>
        <strong>Commenter:</strong>
        <%= comment.commenter %>
    </p>

    <p>
        <strong>Comment:</strong>
        <%= comment.body %>
    </p>    
<% end %>    

<h2>Add a comment:</h2>
<%= form_with model: [ @recipe, @recipe.comments.build ] do |form| %>
    <p>
        <%= form.label :commenter %><br>
        <%= form.text_field :commenter %>
    </p>
    <p>
        <%= form.label :body %><br>
        <%= form.text_area :body %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>